<h1>Login</h1>

<% form_for @user, :url => user_sessions_url do |f| %>
  <%= f.error_messages %>

  <%= f.label :email %><br />
  <%= f.text_field :email %><br />

  <%= f.label :password %><br />
  <%= f.password_field :password %><br />

  <%= f.submit "Login" %>
<% end %>
